/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    
    withName: INTERPROSCAN {
        publishDir = [
            path: { "${params.outdir}/${prefix[-2..-1]}/${prefix}/ips" },
            // env.PUBLISH_DIR_INTERPROSCAN = "${params.outdir}/${prefix[-2..-1]}/${prefix}/ips",
            mode: "copy",
            pattern: "*IPS.tsv.gz"
        ]
    }
    
    withName: ANTISMASH {
        publishDir = [
            path: { "${params.outdir}/${prefix[-2..-1]}/${prefix}/antismash" },
            //env.PUBLISH_DIR_ANTISMASH = "${params.outdir}/${prefix[-2..-1]}/${prefix}/antismash",
            mode: "move",
            pattern: "*gff.gz"
        ]
    }

    withName: GECCO_RUN {
        publishDir = [
            path: { "${params.outdir}/${prefix[-2..-1]}/${prefix}/gecco" },
            //env.PUBLISH_DIR_GECCO_RUN = "${params.outdir}/${prefix[-2..-1]}/${prefix}/gecco",
            mode: "move",
            pattern: "*gff.gz"
        ]
    }

    withName: SANNTIS {
        publishDir = [
            path: { "${params.outdir}/${prefix[-2..-1]}/${prefix}/sanntis" },
            //env.PUBLISH_DIR_SANNTIS = "${params.outdir}/${prefix[-2..-1]}/${prefix}/sanntis",
            mode: "move",
            pattern: "*gff.gz"
        ]
    }

}
